# Virtual environments
venv/
.venv/
env/
first_project_env/

# Python cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/
.pytest_cache/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Build artifacts
build/
dist/
*.egg-info/

# Logs
*.log

# Local test data
inputs/*
outputs/*